{% extends "core/territory-info.html" %}
{% load static %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'core/css/doctor.css' %}">
{% endblock %}

{% block title %}Doctor Images | Three Generation Images{% endblock %}

{% block content2 %}
<div class="doctor-container">
    <hr>
    <div class="doctor-header">
        <div>
            <h2>Doctor-1</h2>
            {% if doctor.dr_name %}
            <p>{{doctor.dr_name}} ({{doctor.dr_rpl_id}})</p>
            {% else %}
            <p>Doctor Name Not Found</p>
            {% endif %}
        </div>
        <div class="dr-buttons">
            <a href="{% url 'delete_doctor' instance_id %}" class="my-button">Delete</a>
            <a href="{% url 'upload' instance_id %}" class="my-button">Re-upload</a>
        </div>
    </div>
    <div class="image-container">
        <div class="image-group">
            {% if doctor.dr_image %}
                <img src="{{ doctor.dr_image.url }}" alt="Doctor Image">
                <h3>Doctor</h3>
            {% else %}
                <h3>No Doctor Image</h3>
            {% endif %}   
        </div>
        <div class="image-group">
            {% if doctor.dr_parents_image %}
                <img src="{{ doctor.dr_parents_image.url }}" alt="Parents Image">
                <h3>Parents</h3>
            {% else %}
                <h3>No Parents Image</h3>
            {% endif %}
        </div>
        <div class="image-group">
            {% if doctor.dr_children_image %}
                <img src="{{ doctor.dr_children_image.url }}" alt="Children Image">
                <h3>Children</h3>
            {% else %}
                <h3>No Children Image</h3>
            {% endif %}
        </div> 
    </div>
</div>
{% endblock %}