{% extends "core/base.html" %}
{% load static %}

{% block title %}Upload Data | Three Generation Images{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/territory-info.css' %}">
{% endblock %}

{% block content %}
<div class="info-container">
    <div class="card">
        <div class="container-card bg-green-box">
            <h2 class="text-xl font-bold">Welcome {{ obj.territory_name}}({{ obj.territory }})</h2>
            <div class="card-content py-5">
                <p class="card-description"><strong>Region:</strong> {{ obj.region_name }}</p>
                <p class="card-description"><strong>Zone:</strong> {{ obj.zone_name }}</p>
                {% if count == 2 %}
                    <p class="card-description">You Have Uploaded Both Doctors Images.</p>
                {% elif img_obj.0 %}
                    <p class="card-description">You Have Uploaded Doctor-1 Images.</p>
                {% elif img_obj.1 %}
                    <p class="card-description">You Have Uploaded Doctor-2 Images.</p>
                {% else %}
                    <p class="card-description">You Have Not Uploaded Any Images.</p>
                {% endif %}
            </div>
            
        </div>
        {% block extra-content %}{% endblock %}
 
    </div>
</div>
{% endblock %}
