.form-container h2 {
    text-align: center;
    color: rgb(71, 70, 70);
    font-weight: bolder;
}

button {
    width: 110px;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

hr {
    margin-bottom: 20px;
}
form {
    margin-top: 30px;
}