{% load static %}
<link href="{% static 'css/global.css' %}" rel="stylesheet" />
<style type="text/tailwindcss">
  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-inter);
    --font-title: var(--font-spacegrotesk);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
  }

  @layer base {
    /* buttons */

    .button {
      @apply cursor-pointer inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0;
    }

    .button--md {
      @apply h-9 px-4 py-2;
    }

    .button--lg {
      @apply h-10 rounded-md px-8;
    }

    .button--sm {
      @apply h-8 rounded-md px-3 text-xs;
    }

    .button--icon {
      @apply h-9 w-9;
    }

    .button--primary {
      @apply bg-primary text-primary-foreground shadow-xs hover:bg-primary/90;
    }

    .button--secondary {
      @apply bg-secondary text-secondary-foreground shadow-xs hover:bg-secondary/80;
    }

    .button--destructive {
      @apply bg-destructive text-background shadow-xs hover:bg-destructive/80;
    }

    .button--outline {
      @apply border bg-transparent shadow-xs hover:bg-accent hover:text-accent-foreground dark:bg-input/30 dark:border-input dark:hover:bg-input/50;
    }

    /* inputs */
    .input {
      @apply flex h-9 w-full rounded-md border border-input bg-transparent px-3 py-1 text-base shadow-xs transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50 md:text-sm;
    }

    /* label */
    .label {
      @apply text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70;
    }

    /* nav */

    .navlist {
      @apply px-4 py-2 flex items-center gap-2 border border-transparent hover:border-primary/50 rounded-lg text-sm transition-colors duration-300 [&_svg]:size-4 hover:[&_svg]:text-primary group-data-[open=false]:px-2;
    }

    .active {
      @apply border-primary/50;
    }

    .toggle {
      @apply group-data-[open=false]:hidden;
    }

    /* table */
    .table-container {
      @apply relative w-full overflow-auto;
    }

    .table {
      @apply w-full caption-bottom text-sm;
    }

    .table-header {
      @apply [&_tr]:border-b border-muted-foreground/35 bg-muted/50;
    }

    .table-body {
      @apply [&_tr:last-child]:border-0;
    }

    .table-row {
      @apply border-b border-muted-foreground/35 transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted;
    }

    .table-head {
      @apply h-10 px-2 text-left text-nowrap border border-border align-middle font-medium text-muted-foreground [&:has([role=checkbox])]:pr-0 [&>[role=checkbox]]:translate-y-[2px];
    }

    .table-cell {
      @apply p-2 align-middle border border-border [&:has([role=checkbox])]:pr-0 [&>[role=checkbox]]:translate-y-[2px] text-nowrap;
    }

    /* dialog */
    .dialog__container {
      @apply fixed left-[50%] top-[50%] z-50 grid w-full max-w-lg min-h-[10rem] translate-x-[-50%] translate-y-[-50%] gap-4 border border-muted bg-background p-6 shadow-lg duration-200 sm:rounded-lg;
    }

    /* page */
    /* header */
    .page-header {
      @apply font-semibold text-lg [&_svg]:size-4 [&_svg]:text-primary flex items-center gap-2;
    }

    /* custom select */
    .custom-select {
      @apply relative inline-block w-[180px];
    }

    .select-dropdown {
      @apply absolute top-[100%%] w-full left-0 border border-border bg-background p-2 shadow-sm z-10 overflow-y-auto;
    }

    .select-dropdown::-webkit-scrollbar {
      @apply w-[7px];
    }

    .select-dropdown::-webkit-scrollbar-track {
      @apply bg-muted rounded-md;
    }

    .select-dropdown::-webkit-scrollbar-thumb {
      @apply bg-muted-foreground rounded-md;
    }

    .select-dropdown li {
      @apply cursor-pointer;
    }
    /* Highlight the selected option */
    .select-dropdown li.selected {
      @apply bg-background rounded-md font-medium;
    }
    .select-dropdown li:hover,
    .select-dropdown li:focus {
      @apply bg-muted rounded-md;
    }

    .dropdown-item {
      @apply flex gap-1 p-2;
    }


    .form-item {
      @apply grid grid-cols-1 gap-3;
    }
  }
</style>
