{%extends "upload/upload.html"%} {%load static%} {%block upload_content%}
<div class="doctor-container mt-4 border border-border p-4 rounded-md">
  <div
    class="flex flex-col md:flex-row justify-between items-start md:items-center mt-4 gap-4"
  >
    <div class="flex items-center gap-2">
      <a
        href="{% url 'home' %}"
        class="button button--icon button--outline rounded-full"
      >
        <i data-lucide="arrow-left"></i
      ></a>
      <div>
        <h2 class="font-medium">Doctor ({{instance_id}})</h2>
        {% if doctor.dr_name %}
        <p class="font-semibold text-xl">
          {{doctor.dr_name}} ({{doctor.dr_rpl_id}})
        </p>
        {% else %}
        <p>Doctor Name Not Found</p>
        {% endif %}
      </div>
    </div>
    <div class="dr-buttons">
      <a
        href="{% url 'delete_doctor' instance_id %}"
        class="button button--md button--destructive"
        >Delete</a
      >
      <a
        href="{% url 'upload' instance_id %}"
        class="button button--md button--primary"
        >Re-upload</a
      >
    </div>
  </div>
  <div
    class="flex mt-6 gap-4"
  >
    <div class="max-w-sm flex-1">
      {% if doctor.dr_image %}
      <img
        src="{{ doctor.dr_image.url }}"
        alt="Doctor Image"
        class="w-full bg-muted border border-border rounded-md h-48 object-cover"
      />
      <h3 class="text-muted-foreground text-sm text-base">Doctor</h3>
      {% else %}
      <h3 class="text-muted-foreground text-sm text-base">No Doctor Image</h3>
      {% endif %}
    </div>
    <div class="max-w-sm flex-1">
      {% if doctor.dr_parents_image %}
      <img
        src="{{ doctor.dr_parents_image.url }}"
        alt="Parents Image"
        class="w-full bg-muted border border-border rounded-md h-48 object-cover"
      />
      <h3 class="text-muted-foreground text-sm text-base">Parents</h3>
      {% else %}
      <h3 class="text-muted-foreground text-sm text-base">No Parents Image</h3>
      {% endif %}
    </div>
    <div class="max-w-sm flex-1">
      {% if doctor.dr_children_image %}
      <img
        src="{{ doctor.dr_children_image.url }}"
        alt="Children Image"
        class="w-full bg-muted border border-border rounded-md h-48 object-cover"
      />
      <h3 class="text-muted-foreground text-sm text-base">Children</h3>
      {% else %}
      <h3 class="text-muted-foreground text-sm text-base">No Children Image</h3>
      {% endif %}
    </div>
  </div>
</div>
{%endblock%}
